# Compiled class file
*.class

# Log file
*.log

*/.settings/*
.settings/*

*/.classpath
.classpath

*/.project
.project
*/.tern-project

*/target/*
target/*


*/.gitattribute*

*/bin/*

*/.springBeans

.DS_Store

.myumldata
*/.myumldata
.gitignore